/*STYLES*/
.buttonBox{
	width: 100%;
	height: 100%;

}
.add-bill-storage{
	background-color: cyan;
	height: 100%;
	width: 100%;
	display: block;
	float: left;
}

 .my-main-body{
 	background-color: lightgrey;
 	justify-content: center;
 	height: scroll;
 	width: 100%;
}
.add-bill-and-paid-bill-storage{
	background-color: lightgray;
	height: 100%;
	width: 33.3%;
	float: left;
}
.pop-up-add-bill{
	background-color: purple;
	height: 40%;
	width: 100%;
	display: block;
	float: left;
}

.paid-bill-storage{
	background-color: lightgrey;
	height: scroll;
	width: 100%;
	display: block;
	overflow: scroll;
}

.current-bill-storage{
	background-color: white;
	height: 100%;
	width: 66.3%;
	float: left;
	justify-content: center;
	border: 1px solid white;
	overflow: scroll;
}
.past-due-bill-storage{
	background-color: lightcoral;
	/*height: 200px;*/
}
.one-week-bill-storage{
	background-color: lightsalmon;
	/*height: 200px;*/
}
.two-week-bill-storage{
	background-color: lemonchiffon;
	/*height: 200px;*/
}
.one-month-bill-storage{
	background-color: lightgreen;
	/*height: 200px;*/
}
.over-one-month-bill-storage{
	background-color: mintcream;
	/*height: 200px;*/
}
.entered-bill{
	height: 50px;
	font-size: 20px;
	vertical-align: middle;
	padding-left: 20px;
}
.section-total{
	padding-top: 20px;
	height: 60px;
	font-size: 25px;
/*			font-style: italic;*/
	font: bold;
	text-align: center;
	allign-items: center;
	justify-content: center;
	vertical-align: middle;
}

.main-header{
	font-size: 50px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.topBox{
	justify-content: flex-start;
	width: 100%;
}
.add-bill-storage {
	float: left;
	height: 180px;
	width: 75%;

  background-color: mintcream;
  color: black;
  text-align: center;
	allign-items: center;
	justify-content: center;
	vertical-align: middle;
}

.commentBox{
	float: left;
	width: 25%;
	height: 180px;
  background-color: mintcream;
	text-align: center;
	vertical-align: middle;
	allign-items: center;
}
.user-input-comment{
	margin-top: 5%;
	display: inline;
}

h2{
	font-size: 25px;
	color: mintcream;
}



.add-text-btn{
  background-color: mintcream; /* Green */
  border: none;
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid green;
}


.refresh-btn{
	float: left;
	width: 25%;
	padding: 25px;
	font-size: 25px;
	color: white;
	background: grey;
	size: 50px;
	cursor: pointer;
}
.add-new-bill-btn{
	float: left;
	width: 25%;
	padding: 25px;
	font-size: 25px;
	color: white;
	background: lightgreen;
	cursor: pointer;
}

.pay-btn{
	float: left;
	width: 25%;
	padding: 25px;
	font-size: 25px;
	color: white;
	background: lightblue;
	cursor: pointer;
}
.delete-btn{
	float: left;
	width: 25%;
	padding: 25px;
	font-size: 25px;
	color: white;
	background: salmon;
	cursor: pointer;
}
.user-input-payment-category,
.user-input-payment-type,
.user-input-reminder,
.user-input-bill-name,
.user-input-payee,
.user-input-due-date,
.user-input-amount{
	display: inline-flex;
	justify-content: center;
	padding: 5px
}

.bill-form{
	margin: 20px;
	padding: 20px;
	justify-content: space-around;
}

.entered-bill{
	cursor: pointer;
	border: 1px grey solid ;
	text-align: left;
	margin: 10px;
	padding-top: 3%;
	vertical-align: middle;
	height: 100%;
	padding-bottom: 3%;
}


